<%- include('partials/head') %>
    <%- include('partials/header') %>
        <div class="blogPage">
            <a href="/" class="backButton">Back</a>
            <h1><%=data.title%></h1>
            <div>
            <span>By: <%=data.name%></span><br>
            <span><%=data.created_at.toLocaleString('LT')%></span>
            </div>
            <p>
                <%=data.content%>
            </p>
        </div>