<%- include('partials/head') %>
    <%- include('partials/header') %>
        <div class="pagrindinis">
            <div class="rikiavimo">
            <form action="/" method="get" id="rikForm">
                <label for="sort">Sort By</label>
                <select name="sort" id="sort">
                    <option value="">---</option>
                    <option value="title ASC" id="1">ASC</option>
                    <option value="title DESC" id="2">DESC</option>
                </select>
            </form>
            </div>
            <main>
                <% data.forEach(blog=> { %>
                    <div class="blog">
                        <h2>
                            <%= blog.title %>
                        </h2>
                        <p class="truncate">
                            <%= blog.content %>
                        </p>
                        <div class="blogInfo">
                            <span>By: <%= blog.name %></span>
                        </div>
                    </div>
                    <% }) %>
            </main>
        </div>

        <script>
            const sortForm = document.getElementById('rikForm');
            const sortSelect = document.getElementById('sort');
            sortSelect.addEventListener('change', (e) => {
                sortForm.submit()
            });
        </script>